<mat-card class="panel-card">
  <mat-card-header
    ><mat-card-title
      >性能{{ this.shouldUpdate ? "" : "（暂停中）" }}</mat-card-title
    ></mat-card-header
  >
  <mat-card-content>
    <div class="card-inner"
      (mouseover)="stopUpdate()"
      (mouseout)="continueUpdate()">
      <div class="performance-container">
        <div class="cpu-container">
          <span *ngIf="cpuInfo">{{ cpuInfo.percent | number : "1.1-1" }}%</span>
        </div>
        <div>
          <span *ngIf="memInfo">
            <span class="mem-used">{{
              memInfo.total - memInfo.free | number : "1.1-1"
            }}</span>
            <span class="mem-total"
              >/{{ memInfo.total | number : "1.1-1" }}G</span
            >
          </span>
        </div>
      </div>
      <div class="chart-container">
        <mat-button-toggle-group name="chartMode" [value]="chartMode" (change)="changeChartMode($event)" aria-label="chartMode">
          <mat-button-toggle value="cpu">CPU</mat-button-toggle>
          <mat-button-toggle value="memory">内存</mat-button-toggle>
        </mat-button-toggle-group>
        <div
          *ngIf="chartOption"
          echarts
          [options]="chartOption"
          (chartInit)="onChartInit($event)"
          class="chart"
        ></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
