.navigator-bar {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.site-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.site-logo > img {
    height: 40px;
    padding: 5px;
}
.site-logo > span {
    font-size: 24px;
    font-weight: bold;
}
.router {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}
.router > button {
    font-size: 16px;
}
.end-part {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.end-part > button {
    margin-left: 20px;
}
.right-button > button {
    font-size: 16px;
}