.navigator-bar {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.site-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.site-logo > img {
    height: 40px;
    padding: 5px;
}
.logo-text {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
}
.router {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}
.router > button {
    font-size: 16px;
}
.end-part {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.end-part > button {
    margin-left: 20px;
}
.right-button > button {
    font-size: 16px;
}

/* 定义动画关键帧 */
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 应用动画 */
.blinking-text {
    $num-spans: 5; // 设置要闪烁的 span 元素数量
    $delay: 0s; // 设置第一个 span 元素的动画延迟时间
    $step: 1s; // 设置每个 span 元素之间的动画延迟时间间隔

    @for $i from 1 through $num-spans {
        span:nth-child(#{$i}) {
            animation: blink 5s linear infinite ($delay + ($i - 1) * $step);
        }
    }
}

/* 添加样式 */
.blinking-text > span {
    display: inline-block;
}
