<mat-card>
    <mat-card-header><mat-card-title>E-mail</mat-card-title></mat-card-header>
<mat-card-content>
    <div [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>内容</mat-label>
            <input formControlName="content" id="email_content" name="email_content" autocomplete="email_content" matInput
                type="text" (keydown.enter)="send()"/>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="send()">发送</button>

</mat-card-content>
</mat-card>