.circle {
    // 一个字大小的圆
    width: 1em;
    height: 1em;
    border-radius: 40%;
    background-color: gray;
    margin-right: 0.5em;
}
.cuda-version {
    width: 100%;
    text-align: center;
}
.gpu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gpu-card-container {
    width: calc(100% / 2 - 50px);
    min-width: 320px;
}
.gpu-card {
    margin: 20px;
}
.gpu-process-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.gpu-card-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.gpu-card-progress > span {
    white-space: nowrap;
}
.gpu-process-detail > div {
    overflow-wrap: break-word;
}
.gpu-card-loading-spinner {
    margin: 10px;
}
