<div class="cuda-version">CUDA:{{cudaVersion}}</div>
<div class="gpu-container">
    <div class="gpu-card-container" *ngIf="gpus.length === 0">
        <mat-card class="gpu-card">
            <mat-card-title>显卡</mat-card-title>
            <div class="gpu-card-loading-spinner">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
        </mat-card>
    </div>
    <div class="gpu-card-container" *ngFor="let gpu of gpus; let i = index">
        <mat-card class="gpu-card">
            <mat-card-title>{{gpu.name}}</mat-card-title>
            <div class="gpu-card-progress">
                <span>显存
                    <strong>{{gpu.memUsed/1024 | number: '1.2-2'}}G</strong>
                </span>
                <mat-progress-bar mode="determinate" [value]="gpu.memUsed/gpu.memTotal*100"></mat-progress-bar>
            </div>
            <div class="gpu-card-progress">
                <span>占用
                    <strong>{{gpu.utilization | number: '2.1-1'}}%</strong>
                </span>
                <mat-progress-bar mode="determinate" [value]="gpu.utilization"></mat-progress-bar>
            </div>
            <div class="gpu-process-container">
                <mat-accordion *ngFor="let process of gpu.processes">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ process ? process.user : '-' }}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ process ? process.name : '' }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="gpu-process-detail" *ngIf="process">
                            <div>pid={{process.pid}}</div>
                            <div>parent={{process.ppid}}</div>
                            <div>uid={{process.uid}}</div>
                            <div>bin={{process.bin}}</div>
                            <div>cmd={{process.cmd}}</div>
                            <div *ngIf="process.cwd">cwd={{process.cwd}}</div>
                        </div>
                        <div *ngIf="!process">
                            无进程信息
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-card>
    </div>
</div>