.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.button-container {
    margin-top: 10px;
}
.article {
    max-width: 120px;
}