.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notification-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.add-notification-container {
    
}
.add-notification-icon {
    background-color: rgb(243, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 200px;
}