:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
}
.label {
    display: inline-block;
    width: 100px;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}
.button-container > button {
    margin-left: 10px;
}
.input-container {
    margin-top: 10px;
}